<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#606e6b"/>
    <meta name="description" content="Dimas Maulana Dwi Saputra Personal Page">
    <title>Dimas Maulana Dwi Saputra</title>
    <link rel="manifest" href="./manifest.json">
    <link rel="icon" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
<announce-bar>
    <span>Currently working at <a style="color: white; text-decoration: none" href="https://dicoding.com/">Dicoding Indonesia</a> as <strong><a
            style="color: white; text-decoration: none"
            href="https://www.dicoding.com/academies/list?criteria=name&price=&q=Web">Web Curriculum Developer</a></strong></span>
</announce-bar>
<head-bar></head-bar>
<main id="mainApp">
    <h2>Hi 👋</h2>
    <h3>I am Dimas <span id="nameSpeak" role="button" tabindex="1">🔊</span>!</h3>
    <p>Experience in <span class="green">[JavaScript, Kotlin]</span>, <span class="blue">Redux</span>, <span
            class="yellow">[Web Components, React]</span>, and <span class="red">Testing</span>.</p>
</main>
<foot-bar></foot-bar>
<audio id="nameAudio" src="./sounds/dimas.mp3"></audio>
<script src="./vendor/webcomponents-loader.js"></script>
</body>
</html>
