* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: #1f1f1f;
  font-family: 'Nunito', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  head-bar {
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    justify-content: center;

    h2 {
      font-size: 48px;
    }

    h3 {
      font-size: 32px;

      #nameSpeak {
        cursor: pointer;
      }
    }

    p {
      font-weight: 600;
      font-size: 24px;
    }

    @media screen and (min-width: 600px){
      h2 {
        font-size: 82px;
      }

      h3 {
        font-size: 60px;
      }
    }
  }
}

.green {
  color: #2ecc71;
}

.blue {
  color: #3498db;
}

.yellow {
  color: #f1c40f;
}

.red {
  color: #e74c3c;
}
